## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [ ]:
!pip install pandas

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [4]:
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [23]:
data_frame = pd.read_csv("titanic.csv")

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [18]:
print(data_frame.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [19]:
print(data_frame.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [20]:
print(data_frame.isna())

     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0          False     False   False  False  False  False  False  False   False
1          False     False   False  False  False  False  False  False   False
2          False     False   False  False  False  False  False  False   False
3          False     False   False  False  False  False  False  False   False
4          False     False   False  False  False  False  False  False   False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...
886        False     False   False  False  False  False  False  False   False
887        False     False   False  False  False  False  False  False   False
888        False     False   False  False  False   True  False  False   False
889        False     False   False  False  False  False  False  False   False
890        False     False   False  False  False  False  False  False   False

      Fare  Cabin  Embarked
0    False   True     False
1    False  False     False
2    False   True     False
3    False  False     False
4    False   True     False
..     ...    ...       ...
886  False   True     False
887  False  False     False
888  False   True     False
889  False  False     False
890  False   True     False

[891 rows x 12 columns]

Заполнение NaN

In [ ]:
print(data_frame.fillna(0))

Удаление строк с NaN

In [21]:
print(data_frame.dropna())

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [24]:
# Выбор столбца по метке
# Используйте синтаксис DataFrame['название_столбца']
# write your code here
print(data_frame["PassengerId"])


# Выбор нескольких столбцов
# Используйте синтаксис DataFrame[['столбец_1', 'столбец_2']]
# write your code here
print(data_frame[["PassengerId", "Survived"]])


# Выбор строк по индексу
# Используйте метод .loc[]
# write your code here
print(data_frame.loc[3])


# Выбор строк и столбцов по условию
# Используя логические операции, выберите мужчин старше 30
# write your code here
print(data_frame.loc[(data_frame["Sex"] == "male") & (data_frame["Age"] > 30)].to_string())

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64
     PassengerId  Survived
0              1         0
1              2         1
2              3         1
3              4         1
4              5         0
..           ...       ...
886          887         0
887          888         1
888          889         0
889          890         1
890          891         0

[891 rows x 2 columns]
PassengerId                                               4
Survived                                                  1
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                    35.0
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object
     PassengerId  Survived  Pclass                                            Name   Sex   Age  SibSp  Parch              Ticket      Fare        Cabin Embarked
4              5         0       3                        Allen, Mr. William Henry  male  35.0      0      0              373450    8.0500          NaN        S
6              7         0       1                         McCarthy, Mr. Timothy J  male  54.0      0      0               17463   51.8625          E46        S
13            14         0       3                     Andersson, Mr. Anders Johan  male  39.0      1      5              347082   31.2750          NaN        S
20            21         0       2                            Fynney, Mr. Joseph J  male  35.0      0      0              239865   26.0000          NaN        S
21            22         1       2                           Beesley, Mr. Lawrence  male  34.0      0      0              248698   13.0000          D56        S
30            31         0       1                        Uruchurtu, Don. Manuel E  male  40.0      0      0            PC 17601   27.7208          NaN        C
33            34         0       2                           Wheadon, Mr. Edward H  male  66.0      0      0          C.A. 24579   10.5000          NaN        S
35            36         0       1                  Holverson, Mr. Alexander Oskar  male  42.0      1      0              113789   52.0000          NaN        S
54            55         0       1                  Ostby, Mr. Engelhart Cornelius  male  65.0      0      1              113509   61.9792          B30        C
62            63         0       1                     Harris, Mr. Henry Birkhardt  male  45.0      1      0               36973   83.4750          C83        S
70            71         0       2                      Jenkin, Mr. Stephen Curnow  male  32.0      0      0          C.A. 33111   10.5000          NaN        S
74            75         1       3                                   Bing, Mr. Lee  male  32.0      0      0                1601   56.4958          NaN        S
92            93         0       1                     Chaffee, Mr. Herbert Fuller  male  46.0      1      0         W.E.P. 5734   61.1750          E31        S
94            95         0       3                               Coxon, Mr. Daniel  male  59.0      0      0              364500    7.2500          NaN        S
96            97         0       1                       Goldschmidt, Mr. George B  male  71.0      0      0            PC 17754   34.6542           A5        C
99           100         0       2                               Kantor, Mr. Sinai  male  34.0      1      0              244367   26.0000          NaN        S
103          104         0       3                      Johansson, Mr. Gustaf Joel  male  33.0      0      0                7540    8.6542          NaN        S
104          105         0       3                  Gustafsson, Mr. Anders Vilhelm  male  37.0      2      0             3101276    7.9250          NaN        S
108          109         0       3                                 Rekic, Mr. Tido  male  38.0      0      0              349249    7.8958          NaN        S
110          111         0       1                  Porter, Mr. Walter Chamberlain  male  47.0      0      0              110465   52.0000         C110        S
116          117         0       3                            Connors, Mr. Patrick  male  70.5      0      0              370369    7.7500          NaN        Q
122          123         0       2                            Nasser, Mr. Nicholas  male  32.5      1      0              237736   30.0708          NaN        C
124          125         0       1                     White, Mr. Percival Wayland  male  54.0      0      1               35281   77.2875          D26        S
129          130         0       3                              Ekstrom, Mr. Johan  male  45.0      0      0              347061    6.9750          NaN        S
130          131         0       3                            Drazenoic, Mr. Jozef  male  33.0      0      0              349241    7.8958          NaN        C
137          138         0       1                     Futrelle, Mr. Jacques Heath  male  37.0      1      0              113803   53.1000         C123        S
148          149         0       2        Navratil, Mr. Michel ("Louis M Hoffman")  male  36.5      0      2              230080   26.0000           F2        S
149          150         0       2               Byles, Rev. Thomas Roussel Davids  male  42.0      0      0              244310   13.0000          NaN        S
150          151         0       2                      Bateman, Rev. Robert James  male  51.0      0      0         S.O.P. 1166   12.5250          NaN        S
152          153         0       3                                Meo, Mr. Alfonzo  male  55.5      0      0          A.5. 11206    8.0500          NaN        S
153          154         0       3                 van Billiard, Mr. Austin Blyler  male  40.5      0      2            A/5. 851   14.5000          NaN        S
155          156         0       1                     Williams, Mr. Charles Duane  male  51.0      0      1            PC 17597   61.3792          NaN        C
160          161         0       3                        Cribb, Mr. John Hatfield  male  44.0      0      1              371362   16.1000          NaN        S
170          171         0       1                       Van der hoef, Mr. Wyckoff  male  61.0      0      0              111240   33.5000          B19        S
174          175         0       1                         Smith, Mr. James Clinch  male  56.0      0      0               17764   30.6958           A7        C
179          180         0       3                             Leonard, Mr. Lionel  male  36.0      0      0                LINE    0.0000          NaN        S
187          188         1       1   Romaine, Mr. Charles Hallace ("Mr C Rolmane")  male  45.0      0      0              111428   26.5500          NaN        S
188          189         0       3                                Bourke, Mr. John  male  40.0      1      1              364849   15.5000          NaN        Q
189          190         0       3                             Turcin, Mr. Stjepan  male  36.0      0      0              349247    7.8958          NaN        S
197          198         0       3                Olsen, Mr. Karl Siegwart Andreas  male  42.0      0      1                4579    8.4042          NaN        S
202          203         0       3                      Johanson, Mr. Jakob Alfred  male  34.0      0      0             3101264    6.4958          NaN        S
203          204         0       3                            Youseff, Mr. Gerious  male  45.5      0      0                2628    7.2250          NaN        C
206          207         0       3                      Backstrom, Mr. Karl Alfred  male  32.0      1      0             3101278   15.8500          NaN        S
209          210         1       1                                Blank, Mr. Henry  male  40.0      0      0              112277   31.0000          A31        C
217          218         0       2                    Jacobsohn, Mr. Sidney Samuel  male  42.0      1      0              243847   27.0000          NaN        S
222          223         0       3                         Green, Mr. George Henry  male  51.0      0      0               21440    8.0500          NaN        S
224          225         1       1                    Hoyt, Mr. Frederick Maxfield  male  38.0      1      0               19943   90.0000          C93        S
232          233         0       2                       Sjostedt, Mr. Ernst Adolf  male  59.0      0      0              237442   13.5000          NaN        S
236          237         0       2                               Hold, Mr. Stephen  male  44.0      1      0               26707   26.0000          NaN        S
239          240         0       2                          Hunt, Mr. George Henry  male  33.0      0      0          SCO/W 1585   12.2750          NaN        S
245          246         0       1                     Minahan, Dr. William Edward  male  44.0      2      0               19928   90.0000          C78        Q
248          249         1       1                   Beckwith, Mr. Richard Leonard  male  37.0      1      1               11751   52.5542          D35        S
249          250         0       2                   Carter, Rev. Ernest Courtenay  male  54.0      1      0              244252   26.0000          NaN        S
252          253         0       1                       Stead, Mr. William Thomas  male  62.0      0      0              113514   26.5500          C87        S
262          263         0       1                               Taussig, Mr. Emil  male  52.0      1      1              110413   79.6500          E67        S
263          264         0       1                           Harrison, Mr. William  male  40.0      0      0              112059    0.0000          B94        S
265          266         0       2                               Reeves, Mr. David  male  36.0      0      0          C.A. 17248   10.5000          NaN        S
273          274         0       1                           Natsch, Mr. Charles H  male  37.0      0      1            PC 17596   29.7000         C118        C
280          281         0       3                                Duane, Mr. Frank  male  65.0      0      0              336439    7.7500          NaN        Q
285          286         0       3                             Stankovic, Mr. Ivan  male  33.0      0      0              349239    8.6625          NaN        C
288          289         1       2                            Hosono, Mr. Masabumi  male  42.0      0      0              237798   13.0000          NaN        S
292          293         0       2                          Levy, Mr. Rene Jacques  male  36.0      0      0       SC/Paris 2163   12.8750            D        C
314          315         0       2                              Hart, Mr. Benjamin  male  43.0      1      1        F.C.C. 13529   26.2500          NaN        S
317          318         0       2                            Moraweck, Dr. Ernest  male  54.0      0      0               29011   14.0000          NaN        S
326          327         0       3                       Nysveen, Mr. Johan Hansen  male  61.0      0      0              345364    6.2375          NaN        S
331          332         0       1                             Partner, Mr. Austen  male  45.5      0      0              113043   28.5000         C124        S
332          333         0       1                       Graham, Mr. George Edward  male  38.0      0      1            PC 17582  153.4625          C91        S
338          339         1       3                           Dahl, Mr. Karl Edwart  male  45.0      0      0                7598    8.0500          NaN        S
339          340         0       1                    Blackwell, Mr. Stephen Weart  male  45.0      0      0              113784   35.5000            T        S
344          345         0       2                         Fox, Mr. Stanley Hubert  male  36.0      0      0              229236   13.0000          NaN        S
349          350         0       3                                Dimic, Mr. Jovan  male  42.0      0      0              315088    8.6625          NaN        S
360          361         0       3                              Skoog, Mr. Wilhelm  male  40.0      1      4              347088   27.9000          NaN        S
363          364         0       3                                 Asim, Mr. Adola  male  35.0      0      0  SOTON/O.Q. 3101310    7.0500          NaN        S
382          383         0       3                              Tikkanen, Mr. Juho  male  32.0      0      0   STON/O 2. 3101293    7.9250          NaN        S
390          391         1       1                      Carter, Mr. William Ernest  male  36.0      1      2              113760  120.0000      B96 B98        S
397          398         0       2                         McKane, Mr. Peter David  male  46.0      0      0               28403   26.0000          NaN        S
400          401         1       3                              Niskanen, Mr. Juha  male  39.0      0      0   STON/O 2. 3101289    7.9250          NaN        S
405          406         0       2                              Gale, Mr. Shadrach  male  34.0      1      0               28664   21.0000          NaN        S
406          407         0       3                Widegren, Mr. Carl/Charles Peter  male  51.0      0      0              347064    7.7500          NaN        S
414          415         1       3                       Sundman, Mr. Johan Julian  male  44.0      0      0   STON/O 2. 3101269    7.9250          NaN        S
429          430         1       3              Pickard, Mr. Berk (Berk Trembisky)  male  32.0      0      0   SOTON/O.Q. 392078    8.0500          E10        S
434          435         0       1                       Silvey, Mr. William Baird  male  50.0      1      0               13507   55.9000          E44        S
438          439         0       1                               Fortune, Mr. Mark  male  64.0      1      4               19950  263.0000  C23 C25 C27        S
439          440         0       2          Kvillner, Mr. Johan Henrik Johannesson  male  31.0      0      0          C.A. 18723   10.5000          NaN        S
447          448         1       1                     Seward, Mr. Frederic Kimber  male  34.0      0      0              113794   26.5500          NaN        S
449          450         1       1                  Peuchen, Major. Arthur Godfrey  male  52.0      0      0              113786   30.5000         C104        S
450          451         0       2                           West, Mr. Edwy Arthur  male  36.0      1      2          C.A. 34651   27.7500          NaN        S
453          454         1       1                        Goldenberg, Mr. Samuel L  male  49.0      1      0               17453   89.1042          C92        C
456          457         0       1                       Millet, Mr. Francis Davis  male  65.0      0      0               13509   26.5500          E38        S
460          461         1       1                             Anderson, Mr. Harry  male  48.0      0      0               19952   26.5500          E12        S
461          462         0       3                             Morley, Mr. William  male  34.0      0      0              364506    8.0500          NaN        S
462          463         0       1                               Gee, Mr. Arthur H  male  47.0      0      0              111320   38.5000          E63        S
463          464         0       2                    Milling, Mr. Jacob Christian  male  48.0      0      0              234360   13.0000          NaN        S
465          466         0       3                 Goncalves, Mr. Manuel Estanslas  male  38.0      0      0  SOTON/O.Q. 3101306    7.0500          NaN        S
467          468         0       1                      Smart, Mr. John Montgomery  male  56.0      0      0              113792   26.5500          NaN        S
471          472         0       3                                 Cacic, Mr. Luka  male  38.0      0      0              315089    8.6625          NaN        S
476          477         0       2                         Renouf, Mr. Peter Henry  male  34.0      1      0               31027   21.0000          NaN        S
482          483         0       3                        Rouse, Mr. Richard Henry  male  50.0      0      0            A/5 3594    8.0500          NaN        S
487          488         0       1                         Kent, Mr. Edward Austin  male  58.0      0      0               11771   29.7000          B37        C
492          493         0       1                      Molson, Mr. Harry Markland  male  55.0      0      0              113787   30.5000          C30        S
493          494         0       1                         Artagaveytia, Mr. Ramon  male  71.0      0      0            PC 17609   49.5042          NaN        C
512          513         1       1                       McGough, Mr. James Robert  male  36.0      0      0            PC 17473   26.2875          E25        S
515          516         0       1                    Walker, Mr. William Anderson  male  47.0      0      0               36967   34.0208          D46        S
519          520         0       3                             Pavlovic, Mr. Stefo  male  32.0      0      0              349242    7.8958          NaN        S
525          526         0       3                              Farrell, Mr. James  male  40.5      0      0              367232    7.7500          NaN        Q
528          529         0       3                       Salonen, Mr. Johan Werner  male  39.0      0      0             3101296    7.9250          NaN        S
536          537         0       1               Butt, Major. Archibald Willingham  male  45.0      0      0              113050   26.5500          B38        S
543          544         1       2                               Beane, Mr. Edward  male  32.0      1      0                2908   26.0000          NaN        S
544          545         0       1                      Douglas, Mr. Walter Donald  male  50.0      1      0            PC 17761  106.4250          C86        C
545          546         0       1                    Nicholson, Mr. Arthur Ernest  male  64.0      0      0                 693   26.0000          NaN        S
548          549         0       3                       Goldsmith, Mr. Frank John  male  33.0      1      1              363291   20.5250          NaN        S
555          556         0       1                              Wright, Mr. George  male  62.0      0      0              113807   26.5500          NaN        S
561          562         0       3                               Sivic, Mr. Husein  male  40.0      0      0              349251    7.8958          NaN        S
569          570         1       3                               Jonsson, Mr. Carl  male  32.0      0      0              350417    7.8542          NaN        S
570          571         1       2                              Harris, Mr. George  male  62.0      0      0         S.W./PP 752   10.5000          NaN        S

### Сортировка данных
Сортировка данных по значениям столбцов.

In [27]:
# Сортировка данных по столбцу 'столбец_1' по возрастанию
# Используйте метод .sort_values()
# write your code here
print(data_frame.sort_values(by="PassengerId"))

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [28]:
# Найдите долю выживших среди всех PClass
# Используйте метод .groupby()
# write your code here
survival_rate_by_class = data_frame.groupby('Pclass')['Survived'].mean()

print(survival_rate_by_class)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [29]:
data_frame = pd.read_csv("titanic.csv")
data_frame.fillna(0)
print(data_frame.head(10))
more_30_years = data_frame.loc[(data_frame['Age'] > 30)]
sorted_by_fare = more_30_years.sort_values(by='Fare', ascending=False)
group_by_pclass = sorted_by_fare.groupby('Pclass')['Age'].mean()
print(group_by_pclass.to_string())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
Pclass
1    46.196000
2    41.694805
3    39.883495